* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}

.content {
    margin: 8px;
}

.img {
    height: 200px;
    width: 400px;
    margin: 5px;
}

h1 {
    text-align: center;
}
 
.para {
    margin-left: 40px;
    margin-top: 10px;
}

.ul {
    margin-left: 40px;
}

.link {
    border: 2px solid red;
    padding: 3px;
    border-radius: 5px;
}
hr {
    height: 4px;
    background-color: rgb(192, 188, 188);
    margin-left: 8px;
    margin-right: 8px;
}

@media  (max-width : 425px) {
    .img {
        height: 150px;
        width: 280px;
    }
    h1 {
        margin-bottom: 1rem;
    }
}